@page "/bill/{orderId:int}"
@inject IOrderService OrderService
@using DevExpress.Blazor.Reporting
@using DevExpress.DataAccess.ObjectBinding;
@using DevExpress.XtraReports.UI

@using Frontend.Data;
@using Frontend.Reports;
<h3>Bill</h3>
<h3>orderId: @orderId</h3>
@if (order != null)
{
    <h4>เวลาออกที่ใบสั่งชื้อ @order.OrderDate</h4>
    <h4>เวลาออกใบสั่งชื้อ @order.OrderDateNow</h4>
  <p>รายการสินค้า</p>
  
    @foreach(var item in order.OrderItems)
    {
        <p>ลำดับ:@item.No รหัสสินค้า:@item.ProductId จำนวน:@item.Quantity  ราคา:@item.Price ราคารวม:@item.TotalPrice</p>
    }

<h2>ราคารวมทั้งหมด @order.TotalPrice</h2>

    <h3>Viewer</h3>
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.bs5.css">

    <DxReportViewer @ref="reportViewer" Report="@Report">
    </DxReportViewer>

}

else
{
    <h1>Loading...</h1>
}


@code {

    [Parameter]
    public int orderId { get; set; }
    public Order order;
    public Order[] orderBill = new Order[1];
    DxReportViewer? reportViewer;
    XtraReport Report { get; set; }
    string paramName = "strParam";
    string paramValue = "1005"; 
    private WeatherForecast[] forecasts;
    protected override async Task OnInitializedAsync()
    {
        // paramValue =  orderId.ToString();
        order = await OrderService.GetOrder(orderId);

        orderBill[0] = order;


        Report = new XtraReport2();
        //WeatherForecast[] forecasts = await WeatherForecastService.GetForecastAsync(DateTime.Now);

        Report.Parameters["OrderId"].Value = order.Id;
        Report.Parameters["TotalPrice"].Value = order.TotalPrice;
        Report.Parameters["Discount"].Value = order.Discount;
        Report.Parameters["OrderId"].Visible = false;
        Report.Parameters["TotalPrice"].Visible = false;
        Report.Parameters["Discount"].Visible = false;
        Report.DataSource = orderBill[0];
        Report.DataMember = "OrderItems";
      
        Report.CreateDocument();
       


    //  Report.Parameters[paramName].Value = paramValue;
     
        StateHasChanged();
    }

    public Order GetOrder()
    {
        return order;
    }
}
